*, body, html{
  background-color: #141716;
  margin:0;
  padding:0;
  /* overflow-x:hidden; */
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.header {
  font-family: 'Monoton', cursive;
  padding: 10px;
  margin: 10px;
  position: fixed;
  top: 50%;
  left: 40%;
  height: 400px;
}

.header h1 {
  font-size: 85px;
  color: #BB9F06;
  /* color: #5AAA95; */
}

.header p {
  font-size: 55px;
  padding-bottom: 10px;
}

.topBar {
  position: fixed;
  top: 5%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bio h1 {
  font-weight: bold;
}

.bio p {
  font-size: 17px;
  max-width: 250px;
  padding: 6px;
}

.bio {
  color: #5AAA95;
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  max-width: 400px;
  max-height: 600px;
  padding-right: 30px;
  margin: 10px;
  text-align: center;
  border-right: 4px dashed #5AAA95;
}

.navLinks {
  /* color: #5AAA95; */
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  padding-left: 50px;
  padding-top: 8px;
}

.navLinks p {
  padding: 20px;
  display: inline;
}

.projects-main {
  position: fixed;
  left: 0; right: 0; bottom: 0;
}