*{
  background-color: #141716;
  scroll-behavior: smooth;
  color: white;
}


body {
  background-color: #141716;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}


.greeting {
  font-family: 'Monoton', cursive;
  /* top: 50%;
  right: 5%; */
  position: sticky;
  position: -webkit-sticky;
  /* float: right;
  right: 0 */
}

.greeting h1 {
  font-size: 85px;
  color: #BB9F06;
}

.greeting p {
  font-size: 55px;
  padding-bottom: 10px;
}

/* .#header {
  margin: 10px;
  position: sticky;
  position: -webkit-sticky;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr)
} */

/* .headerBio h1 {
  font-weight: bold;
} */

/* .headerBio {
  color: #5AAA95;
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  text-align: center;
  border-right: 4px dashed #5AAA95;
  padding: 30px;
} */

/* .navLinks {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  padding-left: 50px;
  padding-top: 8px;
} */

/* .navLinks p {
  padding: 20px;
  display: inline;
} */

/* #bio p {
  font-size: 17px;
  max-width: 250px;
  padding: 6px;
  color: #5AAA95;
} */

/* #projects {
  position: fixed;
  left: 0; right: 0; bottom: 0;
} */

/* #cats {
  color: yellow
} */

/* color: #5AAA95; */
